section {
    display: flex;
    font-family: 'Roboto', sans-serif;
    display: column;
    background: url(../assets/login_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    justify-content: center;
    margin: 0;
    bottom: 0;
    align-items: center;
    width: 100%;
}


.login {
    display: flex;
    align-items: center;
    margin-top: 40vh;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

.login_form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 50%;
    width: 50%;
    opacity: 0.8;
}
#login_text {
    color: #fff;
    padding: 20px;
    opacity: 1;
}


input[type="text"] {
    margin-bottom: 10px;
}